.sidenav {
    width: 240px;
    top: 40px;
    left: 20px;
    position: fixed;
    padding: 20px;
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    overflow: auto;
    margin-bottom: 10px;
}
.berry {
    margin-bottom: 20px;
    border-radius: 50%;
}
body {
    background-image: url("https://raw.githubusercontent.com/i-gau/cosw10-project2/main/imgback.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 260px;
    font-family: 'Kite One', sans-serif;
    font-size: 25px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
h1 {
    text-align: center;
}
#theboard {
    margin-top: 200px;
    margin-bottom: 100px;
}
#ingredients {
    margin-bottom: 200px;
    margin-right: 10px;
}

.ingred-list {
    float: left;
    margin-bottom: 200px;
}
.board-img {
    float: right;
    margin-left: 10px;
    margin-right: 500px;
    margin-bottom: 100px;
    
}


#prep {
    margin-top: 100px;
    margin-bottom: 100px;
}
