.sidenav {
    width: 250px;
    top: 40px;
    left: 20px;
    position: fixed;
    text-decoration: none;
    font-size: 26px;
}
body {
    background-image: url("https://raw.githubusercontent.com/i-gau/cosw10-project2/main/imgback.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 260px;
    font-size: 25px;
}
h1 {
    text-align: center;
}
#theboard {
    margin-top: 100px;
    margin-bottom: 100px;
}
#ingredients {
    margin-bottom: 300px;
}
#prep {
    margin-bottom: 100px;
}
.ingred-list {
    float: left;
}
.board-img {
    float: right;
    margin-left: 60px;
    border: 5px; color: #68a357;
}
.wine {
    border: 5px; color: #494949;
}